* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: new walt disney ui;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: #ffffff;
    font-size: 100px;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    background-color: rgb(53, 53, 53);
    height: 50px;
    padding-right: 50px;
}

nav li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

li a {
    color: #dbdbdb;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px;
}

ul li a:hover {
    color: #ffffff;
    background-color: #000000;
}

#title blockquote {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* margin: 4%; */
    /* padding: 1%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
}

#title h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* margin: 4%; */
    /* padding: 1%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
}

#title h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* margin: 4%; */
    /* padding: 1%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
}

#title blockquote {
    font-weight: bold;
   font-style: italic;
   font-size: 30px;
   line-height: 1;
   margin: 2px;
   padding: 28% 2% 2% 2%;
}

#title h2 {
    font-size: 35px;
    font-weight: normal;
    line-height: 2;
}

#title h3 {
    font-size: 35px;
    font-weight: normal;
    line-height: 2;
}

#title {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/K32.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#title::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#image img {
    height: 90vh;
    width: 40vw;
    border-radius: 90%;
    display: block;
    float: right;
    margin-right: 15px;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}

#image-caption {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
    font-size: 38px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #dbdbdb;
}

#img-div  {
    background-color: #363636;
}

/* Set a background color */
body {
    background-color: #555555;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #555555;
    font-family: Helvetica,
    sans-serif;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(221, 221, 221);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #61D4E8;
    border: 4px solid #2DA1E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: rgb(63, 63, 63);
    color: #ffffff;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

#more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100vh;
    text-transform: uppercase;
    letter-spacing: 2px; 
    background-color: #2c2c2c;
}

#more h2 {
    display:  block;
    text-align: center;
    line-height: 2;
    margin: 8%;
    color: #dbdbdb;
}

#more a {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid white;
    text-decoration: none;
    padding: 30px;
    margin:  2% 30%;
    color: #ffffff;

}

#more a:hover {
    color: #000000;
    background-color: #969696;
}

footer {
    height: 50px;
    font-size: 20px;
    padding: 10px 0px 0px 20px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #f5ca3f;
}