@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Monsieur+La+Doulaise&display=swap");

/* E8C547 30323D 4D5061 */

:root {
  --primary: #30323D;
  --secondary:  #4D5061;
  --tertiary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 0px;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0 15px;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(240, 240, 240);
  /*   font-family: 'Courgette', cursive;
 */
}

nav {
  height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* margin-left: auto; */
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
}

#title {
  position: relative;
  background-image: url("../images/K32.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}

#title::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

#title blockquote,
h1,
h2 {
  position: relative;
  color: var(--tertiary);
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
}

#img-div {
  position: relative;
  height: 100vh;
  width: 100%;
}

#image {
  position: relative;
}

#image img {
  position: absolute;
  left: 40%;
  margin: 2% auto;
  height: 60vh;
  max-width: 100%;
  border-radius: 50%;
}

#img-caption {
  position: relative;
  top: 80%;
  transform: translate(0, -50%);
  font-size: 20px;
  text-align: justify;
  padding: 40px;
}

#tribute-info {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#tribute-info::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--secondary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #fff;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: var(--secondary);
  position: relative;
  border-radius: 6px;
}

#more {
  height: 100vh;
  position: relative;
}

#more h2 {
  position: relative;
  top: 20%;
  right: 0;
  bottom: 50%;
  left: 0;
  font-size: 40px;
  text-transform: uppercase;
  vertical-align: center;
}

.button a {
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  color: var(--tertiary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  position: relative;
}

.button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.button2 {
  position: absolute;
  top: 65%;
  left: 50%;
  translate: -50% -50%;
}

.button1 a:hover {
  background-color: #fff;
  color: black;
}

.button2 a:hover {
  background-color: #fff;
  color: black;
}

footer {
  font-size: 20px;
  padding: 10px;
  border-top: 2px solid var(--secondary);
  text-align: center;
  background-color: var(--secondary);
}

footer a {
  color: var(--tertiary);
  text-decoration: none;
  text-transform: uppercase;
}

footer a:hover {
  color: #fff;
}

